.getContact{
    text-align: center;
    font-size: 2.2rem;
    font-family: "Shadows Into Light";
    margin: 0;
}

.get_Contact{
  text-align: center;
  font-size: 2.2rem;
  margin: 0;
  font-family: 'Bowlby One', sans-serif;
}

form {
    display: flex;
    flex-direction: column;

    font-family: 'Merriweather', serif;
    width: 90%;
    margin: 1rem;
    margin-bottom: 3rem;
    gap: 1rem;
  }
  
  form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  form input[type="text"],
  form textarea {
    padding: 10px;
    font-size: 1rem;
    border: none;
    background-color:  rgb(247, 247, 247);
    border-bottom: 2px solid #f553cc; 
    transition: border-color 0.3s;
    text-align: center;
  }
  
  form input[type="text"]:focus,
  form textarea:focus {
    border-color: #f553cc;
    outline: none;
  }
  
  form textarea {
    height: 150px;
    resize: none;
  }
  
  /* Botón de enviar */
  form button[type="submit"] {
    padding: 10px 20px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #f553cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button[type="submit"]:hover {
    background-color: #f553cc;
  }
  