footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(18, 18, 18);
    color: white;
    font-family: 'Merriweather', serif;
}

.correo a{
    text-decoration: underline;
    font-size: 1.4rem;
    font-family: bold;
    color: white;
}

.redesFooter{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 2rem;
}

span{
    color: rgb(105, 103, 103);
    font-size: 0.7rem;
}

.contact{
    font-size: 0.8rem;
}

footer a{
    color: white;
}
